.root {
    background-color: #F2F2F7;
    height: 100%;
    position: relative;
    padding-top: 8px;
}

.createIconBtn {
    border-radius: 50px;
    position: absolute;
    right: 36px;
    bottom: 40px;
    background-color: #0071EE;
    color: white;
}

.createIconBtn:hover {
    background-color: #0071EE;
}

.inividivualChatContainer {
    padding: 16px;
    color: white;
    cursor: pointer;
}

.selectedChat {
    background-color: #0071EE;
}

.textContentContainer {
    margin-left: 16px;
    width: calc(100% - 66px);
}

.lastMessageContent {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}
